<style>
 .card-header{
   height: 50px;
 }
 .search-container button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container {
  float: right;
}
.search-container button:hover {
  background: #ccc;
}
.user_image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-top: 5px;
}
.user_info{
  margin-left: 7%;
}
.card1_color{
  background-color:#0c71ed;
}
.inside_card{
  width: 44%;
  margin-left: 28%;
}
.total_result{
  margin-left: 29%;
  margin-top: 14px;
}
.user_Detail{
  margin-left: 162px;
  margin-bottom: 25px;
}
.user_Detail p{
  margin-left: 31px;
}
.user_detail_button{
 margin-left: 30%
}
.pagination{
 text-align: center;
}
.dropdown{
  text-align: right;
}
.topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .userInfo{
    margin-left: 31px;
  }

</style>
    <div class="card card_color">
      <div class="card-header card1_color">
        <div class="col-sm-6 dropdown">
            <select style="height: 28px">
                <option value="volvo">Sort by Name</option>
                <option value="saab">Sort by Rank</option>
              </select>
        </div>
        <div class="topnav">
        <div class="col-sm-6 search-container">
            <input type="text" placeholder="Search.." name="search"  [(ngModel)]="name">
            <button type="submit"><i class="fa fa-search" (click)="onSearch()"></i></button>
        </div>
      </div>
        </div>
        <div class="total_result" *ngIf="users.items"> <b>Total Result :  {{users.items?.length}} </b> </div>
        <div class="card-body" *ngFor="let user of users.items | paginate: { itemsPerPage: 3, currentPage: p } ; let i = index">
          <div class="card inside_card">
          <div class ="row user_info">
           <div class="column">
             <img [src]= "user.avatar_url" class="user_image"></div>
             <div class="column userInfo"><h3>{{user.login}}</h3><div>Profile URL : {{user.url}}</div></div>
           </div>
            <div class="row">  
            <div class="coloumn user_Detail"><p> Score: {{user.score}} </p></div>
            <div class="coloumn user_detail_button"><button (click)="showUserDetial(i, user.login,'Details')" *ngIf="(user_detail_click1=='null' && buttonName=='Details')||(user_detail_click1==user.login && buttonName=='Details') || (user_detail_click1 != user.login)">Details</button>
              <button (click)="showUserDetial(i, user.login, 'Collapse')" *ngIf="(user_detail_click1=='null' && buttonName=='Collapse')||(user_detail_click1==user.login && buttonName=='Collapse')">Collapse</button>
            </div>
           </div>
           <div *ngFor = "let userDetail of userDetail" class="table-wrapper-scroll-y my-custom-scrollbar">
           <table class="table table-striped table-bordered scroll" *ngIf="user_detail_click1==user.login && button == 'Details'  ">
             <tbody> <tr>
                <td> {{userDetail.name}}</td>
                <td><small>Language: {{userDetail.language}},
                    Open Issues Count: {{userDetail.open_issues_count}},
                    Watchers: {{userDetail.watchers}},
                    Fork Count: {{userDetail.forks_count}}</small> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
          </div>
          <pagination-controls (pageChange)="p = $event" *ngIf="users.items?.length > 0" class="pagination"></pagination-controls>
        </div>
 